resources/app/resources/public/js/compiled/**
resources/app/package-lock.json
resources/app/yarn.lock
resources/app/yarn-error.log
resources/app/node_modules
resources/app/.clj-kondo/.cache
resources/app/.shadow-cljs/
resources/app/test.log
.clj-kondo/.cache
.cpcache
my-app/**
.nrepl-port