{:paths ["src" "resources"]
 :deps  {org.clojure/clojure         {:mvn/version "1.10.3"}
         seancorfield/clj-new        {:mvn/version "1.2.362"}
         fiv0/kusonga                {:mvn/version "0.1.0"}
         clj-commons/fs              {:mvn/version "1.6.307"}}

 :aliases {}

 :mvn/repos
 {"central"        {:url "https://repo1.maven.org/maven2/"}
  "clojars"        {:url "https://clojars.org/repo"}}}
