{:paths ["src" "test" "resources" "classes"]
 :deps  {org.clojure/clojure         {:mvn/version "1.10.3"}
         org.clojure/spec.alpha      {:mvn/version "0.2.194"}
         com.cognitect/transit-clj   {:mvn/version "1.0.324"}
         com.cognitect/transit-cljs  {:mvn/version "0.8.269"}

         ;; Backend / system / routing
         integrant/integrant     {:mvn/version "0.8.0"}
         integrant/repl          {:mvn/version "0.3.2"}
         aero/aero               {:mvn/version "1.1.6"}
         cheshire/cheshire       {:mvn/version "5.10.0"}
         ring/ring-defaults      {:mvn/version "0.3.3"}
         metosin/reitit          {:mvn/version "0.5.15"}
         metosin/reitit-pedestal {:mvn/version "0.5.15"}
         hiccup/hiccup           {:mvn/version "2.0.0-alpha2"}

         ;; pedestal
         io.pedestal/pedestal.route         {:mvn/version "0.5.9"}
         io.pedestal/pedestal.jetty         {:mvn/version "0.5.9"}
         io.pedestal/pedestal.service       {:mvn/version "0.5.9"}
         io.pedestal/pedestal.service-tools {:mvn/version "0.5.9"}

         ;; ring+reitit other branch
         metosin/muuntaja        {:mvn/version "0.6.8"}
         org.immutant/immutant   {:mvn/version "2.1.10" :exclusions [org.jboss.naming/jnpserver]}
         metosin/reitit-sieppari {:mvn/version "0.5.15"} ;; TODO needed?

         ;; utility
         lambdaisland/uri {:mvn/version "1.4.74"} ;; TODO needed?

         ;; Frontend
         org.clojure/clojurescript {:mvn/version "1.10.879"}
         re-frame/re-frame         {:mvn/version "1.2.0"}
         day8.re-frame/http-fx     {:mvn/version "0.2.3"}
         metosin/reitit-frontend   {:mvn/version "0.5.15"}
         thheller/shadow-cljs      {:mvn/version "2.15.10"}
         lambdaisland/fetch        {:mvn/version "1.0.41"}
         devcards/devcards         {:mvn/version "0.2.7"}
         re-com/re-com             {:mvn/version "2.13.2"}

         ;; logging
         com.lambdaisland/glogi         {:mvn/version "1.0.136"}
         io.pedestal/pedestal.log       {:mvn/version "0.5.9"}
         ch.qos.logback/logback-classic {:mvn/version "1.2.6"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps {binaryage/devtools {:mvn/version "1.0.3"}
                org.clojure/tools.deps.alpha {:mvn/version "0.12.1048"}

                #_#_io.github.clojure/tools.deps.alpha {:git/tag "add-lib3"
                                                        :git/sha "adb9bb47c7954cd32310ffcb5d128a736e5a495d"
                                                        :exclusions [org.slf4j/slf4j-nop]}
                vvvvalvalval/scope-capture {:mvn/version "0.3.2"}
                fiv0/kusonga  {:mvn/version "0.1.0"}}}

  :test
  {:extra-deps {lambdaisland/kaocha      {:mvn/version "1.0.902"}
                lambdaisland/kaocha-cljs {:mvn/version "1.0.107"}}}}

 :mvn/repos
 {"central"        {:url "https://repo1.maven.org/maven2/"}
  "clojars"        {:url "https://clojars.org/repo"}
  "my.datomic.com" {:url "https://my.datomic.com/repo"}}}
